@{
    ViewData["Title"] = "About XYZ Payroll";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        <p>Sample asp.net 5 web application</p>
    </div>
</div>
