@{
    ViewData["Title"] = "Resource Not Found Error";
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        <p class="text-danger">Requested resource could not be located.</p>
    </div>
</div>
